{
    "swagger": "2.0",
    "info": {
        "title": "Cloud Elements",
        "description": "API for api.cloud-elements.com",
        "version": "0.0.0"
    },
    "host": "api.cloud-elements.com",
    "basePath": "/elements/api-v2",
    "schemes": [
        "https"
    ],
    "paths": {
        "/files": {
            "delete": {
                "tags": [
                    "Files"
                ],
                "description": "Deletes a file from your cloud service by its specified path",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "description": "The full path to the file (e.g. /myDirectory/myFile.txt)",
                        "required": false,
                        "type": "string",
                        "x-example": "/myDirectory/myFile.txt"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Everything worked as expected"
                    },
                    "400": {
                        "description": "Bad Request - Often due to a missing request parameter"
                    },
                    "401": {
                        "description": "Unauthorized - An invalid element token, user secret and/or org secret provided"
                    },
                    "403": {
                        "description": "Forbidden - Access to the resource by the provider is forbidden"
                    },
                    "404": {
                        "description": "Not found - The requested resource is not found"
                    },
                    "405": {
                        "description": "Method not allowed - Incorrect HTTP verb used, e.g., GET used when POST expected"
                    },
                    "406": {
                        "description": "Not acceptable - The response content type does not match the 'Accept' header value"
                    },
                    "409": {
                        "description": "Conflict - If a resource being created already exists"
                    },
                    "415": {
                        "description": "Unsupported media type - The server cannot handle the requested Content-Type"
                    },
                    "500": {
                        "description": "Server error - Something went wrong on the Cloud Elements server"
                    },
                    "502": {
                        "description": "Provider server error - Something went wrong on the Provider or Endpoint's server"
                    }
                },
                "security": []
            },
            "get": {
                "tags": [
                    "Files"
                ],
                "description": "Retrieves a single file from your cloud service from a specified path. The file is directly streamed from the cloud storage provider through Cloud Elements, and is not buffered to disk.",
                "operationId": "get",
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "description": "The full path to the file (e.g. /myDirectory/myFile.txt)",
                        "required": false,
                        "type": "string",
                        "x-example": "/myDirectory/myFile.txt"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Everything worked as expected"
                    },
                    "400": {
                        "description": "Bad Request - Often due to a missing request parameter"
                    },
                    "401": {
                        "description": "Unauthorized - An invalid element token, user secret and/or org secret provided"
                    },
                    "403": {
                        "description": "Forbidden - Access to the resource by the provider is forbidden"
                    },
                    "404": {
                        "description": "Not found - The requested resource is not found"
                    },
                    "405": {
                        "description": "Method not allowed - Incorrect HTTP verb used, e.g., GET used when POST expected"
                    },
                    "406": {
                        "description": "Not acceptable - The response content type does not match the 'Accept' header value"
                    },
                    "409": {
                        "description": "Conflict - If a resource being created already exists"
                    },
                    "415": {
                        "description": "Unsupported media type - The server cannot handle the requested Content-Type"
                    },
                    "500": {
                        "description": "Server error - Something went wrong on the Cloud Elements server"
                    },
                    "502": {
                        "description": "Provider server error - Something went wrong on the Provider or Endpoint's server"
                    }
                }
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {},
    "security": [],
    "tags": [
        {
            "name": "Files",
            "description": "Operations about Files"
        }
    ]
}
